@font-face {
  font-family: 'Gl';
  src: url('/assets/styles/fonts/Gilroy-Light.woff2') format('woff2'),
    url('/assets/styles/fonts/Gilroy-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
//
//@font-face {
//  font-family: 'GR';
//  src: url('~assets/styles/fonts/Gilroy-Regular.woff2') format('woff2'),
//    url('~assets/styles/fonts/Gilroy-Regular.woff') format('woff');
//  font-weight: 400;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'GM';
//  src: url('~assets/styles/fonts/Gilroy-Medium.woff2') format('woff2'),
//    url('~assets/styles/fonts/Gilroy-Medium.woff') format('woff');
//  font-weight: 500;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'GS';
//  src: url('~assets/styles/fonts/Gilroy-SemiBold.woff2') format('woff2'),
//    url('~assets/styles/fonts/Gilroy-SemiBold.woff') format('woff');
//  font-weight: 600;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'GB';
//  src: url('~assets/styles/fonts/Gilroy-Bold.woff2') format('woff2'),
//    url('~assets/styles/fonts/Gilroy-Bold.woff') format('woff');
//  font-weight: 700;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'TM';
//  src: url('~assets/styles/fonts/TTNormsPro-Medium.woff2') format('woff2'),
//    url('~assets/styles/fonts/TTNormsPro-Medium.woff') format('woff');
//  font-weight: 500;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'TR';
//  src: url('~assets/styles/fonts/TTNormsPro-Regular.woff2') format('woff2'),
//    url('~assets/styles/fonts/TTNormsPro-Regular.woff') format('woff');
//  font-weight: 400;
//  font-style: normal;
//}
