@use 'sass:selector';
@use '../tools/functions' as *;

@mixin unify-parent($child) {
  @at-root & {
    @content;
  }

  @at-root #{selector.unify(&, $child)} {
    @content;
  }
}

.a-font {

  &_h1 {
    @include unify-parent('h1') {
      font-size: rem(44);
      font-weight: 600;
      line-height: rem(52);

      @media screen and (max-width: 767px) {
        font-size: rem(28);
        line-height: rem(32);
      }
    }
  }

  &_h2 {
    @include unify-parent('h2') {
      font-size: rem(40);
      font-weight: 600;
      line-height: rem(48);

      @media screen and (max-width: 767px) {
        font-size: rem(26);
        line-height: rem(30);
      }
    }
  }

  &_h3 {
    @include unify-parent('h3') {
      font-size: rem(36);
      font-weight: 600;
      line-height: rem(44);

      @media screen and (max-width: 767px) {
        font-size: rem(24);
        line-height: rem(30);
      }
    }
  }

  &_h4 {
    @include unify-parent('h4') {
      font-size: rem(32);
      font-weight: 600;
      line-height: rem(40);

      @media screen and (max-width: 767px) {
        font-size: rem(22);
        line-height: rem(28);
      }
    }
  }

  &_xxl {
    font-size: rem(20);
    font-weight: 600;
    line-height: rem(30);

    @media screen and (max-width: 767px) {
      font-size: rem(18);
      line-height: rem(24);
    }
  }

  &_xl {
    font-size: rem(18);
    line-height: rem(28);

    @media screen and (max-width: 767px) {
      font-size: rem(14);
      line-height: rem(20);
    }
  }

  &_l {
    font-size: rem(16);
    line-height: rem(24);

    @media screen and (max-width: 767px) {
      font-size: rem(14);
      line-height: rem(20);
    }
  }

  &_m {
    font-size: rem(14);
    line-height: rem(20);

    @media screen and (max-width: 767px) {
      font-size: rem(12);
      line-height: rem(16);
    }
  }

  &_s {
    font-size: rem(12);
    line-height: rem(16);
  }
}
.bold {
  font-weight: bold;
}
