:root {
  // Базовые цвета
  --color-black: #2e4455;
  --color-white: #fff;
  --color-orange: #ffcd83;
  --color-red: #D92323;
  --color-blue: #2981D9;
  --color-green: #4CAF50;
  --color-gold: #FFC700;
  --color-warning: #E28229;
  --color-vue: #41B883;
  --color-darkvue: #2b9264;
}