@import 'src/assets/styles/tools/_functions.scss';

.a-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: rem(16);
  font-weight: bold;
  line-height: rem(28);
  border: none;
  border-radius: var(--a-borderRadius--default);
  cursor: pointer;

  &__label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  // Size
  &--large {
    height: rem(44);
    & .a-button__label {
      padding-right: rem(32);
      padding-left: rem(32);
    }
  }
  &--medium {
    height: rem(38);
    & .a-button__label {
      padding-right: rem(24);
      padding-left: rem(24);
    }
  }
  &--small {
    height: rem(30);
    & .a-button__label {
      padding-right: rem(24);
      padding-left: rem(24);
    }
  }

  // bgColor & condition
  &.disabled,
  &:disabled {
    background-color: hsl(var(--color-gray_HSL), calc(80% - 5%));
    cursor: auto;

    &:hover {
      background-color: hsl(var(--color-gray_HSL), calc(80% - 5%));
      cursor: auto;
    }
  }

  &--accent {
    color: var(--color-white);
    background-color: var(--color-red);
    &:hover {
      background-color: hsl(var(--color-red_HSL), calc(65% - 5%));
    }
    &.active,
    &:active {
      background-color: hsl(var(--color-red_HSL), calc(65% - 10%));
    }
  }
  &--primary {
    color: var(--color-white);
    background-color: var(--color-darkvue);
    &:hover {
      background-color: hsl(var(--color-darkvue_HSL), calc(50% - 5%));
    }
    &.active,
    &:active {
      background-color: hsl(var(--color-darkvue_HSL), calc(65% - 10%));
    }
  }
  &--secondary {
    color: var(--color-white);
    background-color: var(--color-warning);
    &:hover {
      background-color: hsl(var(--color-warning_HSL), calc(70% - 5%));
    }
    &.active,
    &:active {
      background-color: hsl(var(--color-warning_HSL), calc(65% - 10%));
    }
  }
}