@import 'src/assets/styles/tools/_functions.scss';
.register {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: rem(400);
  margin: 0 auto;
  padding-top: rem(40);

  &__h3 {
    margin: 0 auto;
    margin-bottom: rem(12);
  }
  &__link {
    margin-bottom: rem(12);
    cursor: pointer;
    & a {
      text-decoration: none;
      color: var(--color-blue);
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-basis: rem(400);
  }

  &__form-group {
    display: flex;
    flex-grow: 1;
    width: 100%;
    margin-bottom: rem(16);
    border: none;
  }

  .input {
    width: 100%;
  }
}